<div *ngIf="!captchaResolved; else elseBlock">
  <div fxLayout="row" fxLayoutAlign="space-around center" style="height: 50vh">
    <div fxLayout="column" fxLayoutAlign="center center">
      <mat-card>
        <mat-card-title>
          No bots allowed
        </mat-card-title>
        <mat-card-content>
          <form [formGroup]="captchaForm">
            <re-captcha
              #recaptcha="reCaptcha"
              formControlName="recaptcha"
              (resolved)="recaptchaResolved($event)"
            ></re-captcha>
          </form>
        </mat-card-content>
      </mat-card>
      
    </div>
  </div>
</div>
<ng-template #elseBlock>
  <router-outlet></router-outlet>
</ng-template>
