mat-card {
  margin: 1em;
}

.room-row:hover {
  background-color: whitesmoke;
}

.main-row-container > div {
  width: 40%;
}

.main-row-container > div:first-of-type {
  width: 20%;
}

.room-row:active {
  background-color: gainsboro;
}

#messages {
  background-color: whitesmoke;
  width: 100%;
  /* max-height: 20em; */
}

#messages > tbody {
  display: block;
  overflow-y: auto;
  overflow-x: hidden;
  height: 30em;
  /* width: 100%; */
}

#messages > tbody td {
  white-space: nowrap;
}

#messages > tbody td:last-child {
  width: 100%;
}
