<main>
  <div class="main-row-container" fxLayout="row" fxLayoutAlign="center stretch">
    <div fxLayout="column" fxLayoutAlign="start stretch">
      <div id="rooms">
        <mat-card>
          <mat-card-content>
            <table>
              <legend>
                <b>Rooms (current: {{ currentRoom }})</b>
              </legend>
              <tbody>
                <tr
                  class="room-row"
                  *ngFor="let room of rooms"
                  (click)="moveRoom(room)"
                >
                  <td>{{ room }}</td>
                </tr>
              </tbody>
            </table>
          </mat-card-content>
        </mat-card>
      </div>
      <div id="users">
        <mat-card>
          <mat-card-content>
            <table>
              <legend>
                <b>Users (current: {{ username }})</b>
              </legend>
              <tbody>
                <tr *ngFor="let user of usersOnline">
                  <td *ngIf="user.id !== id">{{ user.username }}</td>
                </tr>
              </tbody>
            </table>

            <table>
              <legend>
                <b>Users in room</b>
              </legend>
              <tbody>
                <tr *ngFor="let user of usersInCurrentRoom">
                  <td>{{ getUsername(user) }}</td>
                </tr>
              </tbody>
            </table>
          </mat-card-content>
        </mat-card>

        <mat-card>
          <mat-card-content>
            <mat-form-field>
              <input matInput type="text" #usernameInput />
            </mat-form-field>

            <button
              style="margin-left: 0.5em"
              mat-raised-button
              (click)="updateUsername(usernameInput.value)"
            >
              Update username
            </button>
          </mat-card-content>
          <mat-card-actions>
            <div>
              <mat-checkbox
                [disabled]="isMuted"
                [checked]="isMuted"
                (change)="setMute(!$event.checked)"
                >Mute</mat-checkbox
              >
              <span style="margin-left: 0.25em">{{ muteText }}</span>
            </div>
          </mat-card-actions>
        </mat-card>

        <!-- <div style="margin-top: 2em">
          <button (click)="emergencyLogout()" mat-raised-button color="warn">
            EMERGENCY LOCKOUT
          </button>
        </div> -->
      </div>
    </div>
    <div id="messaging">
      <mat-card>
        <mat-card-content>
          <table id="messages">
            <tbody #messagesListing>
              <tr *ngFor="let messageData of messages">
                <td *ngIf="messageData.isRoomOnly"><b>ROOM</b></td>
                <td *ngIf="!messageData.isRoomOnly"><b>GLOBAL</b></td>
                <td>
                  {{ messageData.time | date: "h:mm a" }}
                </td>
                <td
                  *ngIf="
                    messageData.senderID !== '' &&
                    messageData.senderID !== undefined
                  "
                >
                  {{ getUsername(messageData.senderID) }}:
                </td>
                <td>{{ messageData.message }}</td>
              </tr>
            </tbody>
          </table>
          <mat-form-field style="width: 100%">
            <input
              matInput
              type="text"
              [(ngModel)]="inputText"
              #input
              style="width: 100%"
              (keyup.enter)="sendMessage(input.value)"
            />
          </mat-form-field>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="warn" (click)="messages = []">
            Clear
          </button>
          <mat-checkbox [(ngModel)]="sendToGlobal" style="margin-left: 1em">
            <div *ngIf="sendToGlobal; else sendRoom">Sending to global</div>
            <ng-template #sendRoom
              >Sending to room ({{ currentRoom }})</ng-template
            >
          </mat-checkbox>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</main>
